apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-deploy
spec:
  replicas: 3
  selector:
    matchLabels:
      app: test-server
  template:
    metadata:
      labels:
        app: test-server
    spec:
      imagePullSecrets:
        - name: harbor-secret
      containers:
        - name: test-server
          image: "myyrakle/node-server-for-test:latest"
---
apiVersion: v1
kind: Service
metadata:
  name: test-service
spec:
  ports:
    - port: 80
      protocol: TCP
  selector:
    app: test-server
  type: ClusterIP
