[Unit]
Description=Elasticsearch
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash -c "docker compose -f /home/ubuntu/docker-compose.yml up elasticsearch"
ExecStop=/bin/bash -c "docker compose -f /home/ubuntu/docker-compose.yml down elasticsearch"

[Install]
WantedBy=multi-user.target
